@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
  --title: #D3AA5B;
  --background: #1A1A1A;
  --card-background: #222222
}

body {
  background-color: var(--background) ;
  font-family: "Times New Roman",serif;
  color: white;
}